<app-menu></app-menu>

<ion-content [fullscreen]="true">

  <!-- FORM DE CADASTRO -->
  <ion-row class="ion-justify-content-center">
    <ion-col size="10" size-lg="8" class="ion-text-center">
      <ion-label>
        <h1>CADASTRAR PLANETA</h1>
      </ion-label>
      <ion-item>
        <ion-input label="Nome do Planeta:"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Possui população:"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Massa:"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Tamanho do Raio:"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Distância do Sol:"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-button slot="end" color="tertiary">Salvar</ion-button>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size="10" size-lg="8">
      <ion-card>
        <ion-row>
          <ion-col>ID: 1</ion-col>
          <ion-col>ID: Planeta Marte</ion-col>
          <ion-col>População: 10000</ion-col>
          <ion-col>Massa: 10000000</ion-col>
          <ion-col>Raio: 5000</ion-col>
          <ion-col>Distância Sol: 100</ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
  
</ion-content>


<app-footer></app-footer>
