<ion-content [fullscreen]="true">
  <app-menu></app-menu>
  
  <ion-row class="ion-justify-content-center">
    <ion-col size="3">
      <img src="https://i.pinimg.com/736x/a8/c4/e8/a8c4e8084eba3976e8e51bcb6ce16502.jpg">
    </ion-col>
    <ion-col size="3">
      <img src="https://i.pinimg.com/736x/5c/c6/95/5cc695e1d165673f48883a5b891f6a67.jpg">
    </ion-col>
    <ion-col size="3">
      <img src="https://i.pinimg.com/736x/e0/ee/20/e0ee2056aadf8ef174febfb1bb547d75.jpg">
    </ion-col>
  </ion-row>

</ion-content>
