<ion-content [fullscreen]="true">
  <app-cabecalho title="Página de Personagens" subtitle="Visualize a lista com os principais personagens de Dragon Ball"></app-cabecalho>
  <app-menu></app-menu>

  <ion-row class="ion-justify-content-center">
    <ion-col size="3">
      <img src="https://i.pinimg.com/736x/d2/87/2a/d2872a47b1e5dc4c8d9d224b9100e87d.jpg">
    </ion-col>
    <ion-col size="3">
      <img src="https://i.pinimg.com/736x/78/6e/c5/786ec510b0992886c5b24b4ecd706f5e.jpg">
    </ion-col>
    <ion-col size="3">
      <img src="https://i.pinimg.com/736x/6c/dd/c5/6cddc54e40d0c34d3ecd6737d64cbf66.jpg">
    </ion-col>
  </ion-row>


</ion-content>
